{% extends 'base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block title %}
FindADrive.ca
{% endblock title %}

{% block content %}
<style>
html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
}
.flex-item {
    background-color: tomato;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
  .card{
    background-color: lightgrey;
  }
  .box.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<!--<meta http-equiv="refresh" content="10">-->
<h3> Welcome to FindADrive.ca!</h3>
<section class="form-gradient flex-container">
    <!--Form with header-->
    <div class="card col-md-6 center box">
      <!--Header-->
      <div class="header driveheader">
        <div class="row d-flex justify-content-center">
          <h3 class="font-weight-bold">Find a drive</h3>
        </div>
      </div>
      <!--Header-->
      <div class="card-body mx-4 mt-4">
        <!--Body-->
        <div class="md-form">
            <form action = "" method = "post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">Request A Drive</button>
                </form>
        </div>
    </div>
    <!--/Form with header-->
  
  </section>
{% endblock content %}